<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Inconsolata:wght@200&family=Josefin+Sans:ital,wght@1,300&family=Mouse+Memoirs&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    
</head>

<body>
    <div id="inner-body">
        <nav id="theNav">
            <ul id="nav1">
                <li><a href="#about-me">About</a></li>
                <li><a href="#my-tool">My Toolkit</a></li>
                <li><a href="#contact-me">Contacts</a></li>
            </ul>
            <ul id="nav2">
                <li><a target="_blank" href="https://twitter.com/Ahmed_malik19"><img
                            src="{% static 'icons/Icon awesome-twitter.svg' %}" alt="not showing"></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/ahmed-malik-60173a204"><img
                            src="{% static 'icons/Icon awesome-linkedin-in.svg' %}" alt=""></a></li>
                <li><a target="_blank" href="https://www.instagram.com/malikahmed106/"><img
                            src="{% static 'icons/Icon feather-instagram.svg' %}" alt=""></a></li>
                <li><a target="_blank" href="https://github.com/adeshinamalik"><img src="{% static 'icons/Icon awesome-github.svg' %}"
                            alt=""></a></li>
            </ul>
        </nav>
        <section id="home">
            {% comment %} style="background-image: url({% static 'images/MaskGroup3.svg' %});" {% endcomment %}
            <div id="word">
                <h1>Fullstack Web <br> developer</h1>
                <p>Hi, I'm Ahmed.</p>
                <p>I like to craft solid and scalable web apps <br> with great user experience</p>
                <a href="#contact-me"><button>GET IN TOUCH</button></a>
            </div>
        </section>
        <section id="side-img">
            <img src="{% static 'images/box.png' %}" alt="" id="img-box">
            <div id="pro-img">
                <div class="yello">
                    <img src="{% static 'images/IMG-20220218-WA0045.jpg' %}" alt="" id="pro">
                </div>
                <div id="box"></div>
            </div>
        </section>
        <section id="about-me">
            <div id="side-image">
                <div id="sec-box"></div>
                <img id="pro-image" src="{% static 'images/Mask Group 8.jpg' %}" alt="">
            </div>
            <div id="about-text">
                <div id="about" class="sub_head">About me</div>
                <p>My name is Ahmed Malik, i am based in Nigeria, I am a student of Federal University of Agriculture
                    Abeokuta, studying mechatronics engineering</p>
                <p>I specialize in building(and sometimes designing)exceptional web applications</p>
                <ul>
                    <li><a target="_blank" href="https://twitter.com/Ahmed_malik19"><img
                                src="{% static 'icons/Icon awesome-twitter.svg' %}" alt="not showing"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/ahmed-malik-60173a204"><img
                                src="{% static 'icons/Icon awesome-linkedin-in.svg' %}" alt=""></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/malikahmed106/"><img
                                src="{% static 'icons/Icon feather-instagram.svg' %}" alt=""></a></li>
                    <li><a target="_blank" href="https://github.com/adeshinamalik"><img
                                src="{% static 'icons/Icon awesome-github.svg' %}" alt=""></a></li>
                </ul>
                <button>DOWNLOAD CV</button>
            </div>
        </section>
        <div id="can-do">
            <div id="cando-text">
                What i can do
            </div>
            <div id="the-grid">
                <div class="col">
                    <div class="box1"><img src="{% static 'images/ux-interface.svg' %}" alt="">
                        <h2>UI/UX design</h2>
                        <p>I create user-friendly interfaces that ensures the product makes sense to the user by
                            creating a path that logically flows from one step to the next</p>
                    </div>
                    <div class="box2"></div>
                </div>
                <div class="col moving">
                    <div class="box1"><img src="{% static 'images/front-end.svg' %}" alt="">
                        <h2>Frontend development</h2>
                        <p>I develop features to enhance the users experience, I make the web pages are optimized for
                            best
                            speed and scalabilty</p>

                    </div>
                    <div class="box2"></div>
                </div>
                <div class="col moving2">
                    <div class="box1"><img src="{% static 'images/backend (1).svg' %}" alt="">
                        <h2>Backend development</h2>
                        <p>I build and maintain the web application mechanisms that process data and perform actions on
                            websites</p>

                    </div>
                    <div class="box2"></div>
                </div>
            </div>
        </div>
        <div id="my-tool">
            <p class="sub_head">Toolkit</p>
            <ul class="skills-container">

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons devicons-html5" title="HTML5"></span>
                    <p>HTML5</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-css3" title="CSS"></span>
                    <p>CSS</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-javascript_badge"
                        title="JavaScript &amp; ES6"></span>
                    <p>JavaScript + ES6</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-sass" title="SASS"></span>
                    <p>Sass</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-jquery" title="jQuery"></span>
                    <p>jQuery</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-bootstrap"></span>
                    <p>Bootstrap</p>
                </li>

                <li class="skills-title">

                    <span class="devicon-xd-plain"></span>
                    <p>Adobe XD</p>
                </li>
                <li class="skills-title">

                    <span class="devicon-react-original"></span>
                    <p>React</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-responsive" title="Responsive Design"></span>
                    <p>Responsive
                        <br>
                        Design
                    </p>
                </li>
                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-git" title="Git"></span>
                    <p>Git</p>
                </li>

                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-terminal_badge" title="Terminal"></span>
                    <p>Terminal</p>
                </li>
                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-python" title="Python"></span>
                    <p>Python</p>
                </li>


                <li class="skills-title">
                    <span aria-hidden="true" class="devicons devicons-django" title="Accessibility"></span><span
                        class="sr-only"></span>
                    <p>Django</p>
                </li>
            </ul>
        </div>
        <div id="projects">
            <p class="sub_head">Certificates</p>
            <div id="myprojects">
                <div class="col1"><a target="_blank" href=""><img src="{% static 'images/cert/Screenshot 2022-10-01 224700.png' %}"
                            alt=""></a></div>
                <div class="col1"><a target="_blank" href=""><img src="{% static 'images/cert/Screenshot 2022-10-06 115739.png' %}"
                            alt=""></a></div>
                <div class="col1"></div>
                <div class="col1"></div>
            </div>
            <button>load more</button>
        </div>
        <div id="contact-me">
            <div class="left">
                <h1>Contact me</h1>
                <p>If you have any questions about me or my projects, or Interested in working together, Fill out the
                    form below with some info about your project and i will get back to you as soon as i can
                </p>
                <p>
                    I will love to hear from you</p>
                <p>
                    Straight shot to my inbox:</p>
                <ul class="reach-me">
                    <li><a target="_blank" href="https://twitter.com/Ahmed_malik19"><img
                                src="{% static 'icons/Icon awesome-twitter.svg' %}" alt="not showing"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/ahmed-malik-60173a204"><img
                                src="{% static 'icons/Icon awesome-linkedin-in.svg' %}" alt=""></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/malikahmed106/"><img
                                src="{% static 'icons/Icon feather-instagram.svg' %}" alt=""></a></li>
                    <li><a target="_blank" href="https://github.com/adeshinamalik"><img
                                src="{% static 'icons/Icon awesome-github.svg' %}" alt=""></a></li>
                </ul>
            </div>
            <div class="right">
                <form action="{% url 'message' %}" method="POST">
                    {% csrf_token %}
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                    <label class="ye" for="email">Your Email</label>
                    <input type="text" id="name" name="email">
                    <label class="ye" for="message">Your Message</label>
                    <textarea id="message" cols="10" rows="10" name="message" size="5"></textarea>
                    <input type="submit" id="submit" value="Get in touch">
                </form>
            </div>
        </div>
        <div id="menu">
            <img id="test" src="icons/Icon feather-menu.svg" alt="">
        </div>
        {% include 'partials/_alert.html' %}
    </div>

</body>

</html>